  
<app-page-breadcrumb pageTitle="Individual Information" />
<div class="grid grid-cols-1 gap-6 xl:grid-cols-2">
  <app-component-card title="Personal Information" desc="Enter your personal information as reported on your identification documents. This section helps ensure your federal return is accurate and maximizes your eligible credits and deductions.">
    <div class="space-y-6">
      <app-form [formSchema]="formSchema" (onSubmit)="onSubmit($event)" />
    </div>
  </app-component-card>
</div>